{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- container -->
 <div class="container"> 
    <!-- row -->
    <div class="row shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 5em;">
        <!-- column -->
        <div class="col-lg">
            
        </div>
        <!--end column -->

        <!-- column -->
        <div class="col-lg-8">
            <form class="form" action="/register/" method="POST"> 
            <p class="h2 my-5  ">إعادة تعيين </p>
              <div class="form-group">
                   <p class="h6 pr1">لقد أرسلنا إليك بالبريد الإلكتروني تعليمات حول تعيين كلمة المرور ، في حالة وجود حساب باستخدام البريد الإلكتروني الذي أدخلته. يجب أن تستقبلهم قريبا</p>
                   <p class="h6 pr1">إذا لم تتلق بريدًا إلكترونيًا ، فالرجاء التأكد من إدخال العنوان الذي قمت بالتسجيل به ، والتحقق من مجلد الرسائل غير المرغوب فيها</p>
             
               </div>
              </form>
        </div>
        <!--end column -->

        <!-- column -->
        <div class="col-lg">
            
        </div>
        <!--end column -->
        
    </div>
    <!-- end row -->
     
 </div>
 <!-- end container -->


  {% endblock %}