{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- container -->
 <div class="container"> 
    <!-- row -->
    <div class="row shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 5em;">
        <!-- column -->
        <div class="col-lg">
            
        </div>
        <!--end column -->
        {% if validlink %}
        <!-- column -->
        <div class="col-lg-5">

            <p class="h2 my-5  ">كلمة سر جديدة</p>
            <form class="form" method="post">{% csrf_token%}>
          <div class="form-group">
          <label for="inputUsernameEmail">لقد طلبت إعادة تعيين كلمة السر من خلال بريدك الإلكتروني.</label>
          <input type="password" class="form-control  my-4" id="inputUsernameEmail" placeholder="كلمة سر جديدة" name="new_password1">
           <input type="password" class="form-control my-4" id="inputUsernameEmail" placeholder="تأكيد كلمة السر" name="new_password2">
        </div>

        <button type="submit" class="btn btn btn-primary my-2" style="background-color: #32234b !important; border:none;">
          تأكيد
        </button>
            
        </div>
        </form>
        <!--end column -->

        <!-- column -->
        <div class="col-lg">
            
        </div>
        <!--end column -->
        
    </div>
    <!-- end row -->
    </div>
 <!-- end container -->
    {% else %}
    <div class="container">
      <div class="row" style="margin-bottom: 22em; margin-top: 5em">
        <div class="col-lg"></div>
        <div class="col-lg-8">
          <p class="h6" style="font-size: 2em !important;">عذرا لكن الرابط لم يعد صالح </p>
          
        </div>
        <div class="col-lg"> </div>
        
      </div>
      
    </div>

    {% endif %}
     
 

 {% endblock %}     
