{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- container -->
 <div class="container"> 
    <!-- row -->
    <div class="row " style="margin-top: 5em;">
        <!-- column -->
        <div class="col-lg">
            
        </div>
        <!--end column -->

        <!-- column -->
        
        <div class="col-lg-5 shadow-lg p-3 mb-5 bg-white rounded">

           <form>
            <div class="form-group" >
               <p class="h6 pr1 ">شكرا لقد تم تعيين كلمة السر الجديدة</p>
            
              <a class="btn btn-dark btn-md " href="/login/" role="button" style="margin-top: 2em; background-color: #32234b ">تسجيل دخول</a> 

            
             </div>
             </form>
        </div>
        
        <!--end column -->

        <!-- column -->
        <div class="col-lg">
            
        </div>
        <!--end column -->
        
    </div>
    <!-- end row -->
     
 </div>
 <!-- end container -->
 <br/>
 <br/>
 <br/>
 <br/>


  {% endblock %}